<a 
    class={`flex items-center justify-center
        px-4 py-4 rounded-full
        hover:scale-110 transition hover:bg-[#efe5e5]/50
        `}
    {...Astro.props}
    target="_blank"
    rel = 'noopener noreferrer'    
>
    <slot/>
</a>