---
import ThemeButton from "./ThemeButton.astro";
import ChileIcon from '../components/icons/ChileIcon.astro'
---

<header class="flex pt-7 pl-4 items-center justify-center w-full mx-auto">
    <nav class="flex flex-row items-center gap-x-10 text-base sm:text-lg md:text-xl font-bold text-[#2c3e50] dark:text-[#E0E0E0]">
        <ChileIcon class='size-4 md:size-6 mx-3 dark:opacity-70'/>
        <a href="#top" >Home</a>
        <a href="#sobremi">Sobre mí</a>
        <a href="#Proyectos">Proyectos</a>
        <ThemeButton/>
    </nav>
</header>