<section
    class=" flex flex-row 
        border rounded-2xl dark:border-[#2a2a2a]
        justify-center items-center px-3 py-3 mb-4 mx-auto w-full
        bg-[#ffffff] dark:bg-[#000] bg-opacity-50"     
    >
    <slot/>
</section>